<%- include('../layouts/auth-head.ejs') %>

<div class="position-relative w-100 h-100 bg-light">
  <div class="container-fluid w-100 h-100">
    <div class="row mx-auto h-100">
      <div class="col-lg-4 col-md-6 col-sm-8 mx-auto my-auto">
        <div class="card w-100 y text-dark-gray px-0  shadow-sm border-0 ">
          <% if(flashdata.length > 0) { %>
          <% flashdata.forEach(flash => { %>
          <div class="alert  alert-<%= flash.type === "error" ? "danger" : flash.type %> alert-dismissible fade show"
            role="alert">
            <%= flash.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% }) %>

          <% } %>
          <div class="card-body px-5 py-5">
            <div class="d-flex mx-auto text- mb-4  rounded-circle bg-success text-light border-primary p-3"
              style="height: 70px; width: 70px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-check-circle">
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
              </svg>
            </div>
            <div class="mb-1 text-center">

              <p class="fs-3 fw-bold">Request successfull</p>
              <p>Please check your email!</p>
            </div>
            <!-- alert -->
            <div class="mt-5 text-center">
              <a href="/login" class="text-decoration-none text-primary-hover text-dark-gray">
                <i data-feather="chevron-left"></i>
                <span>Back to login</span></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/auth-end.ejs') %>