<header class="phoenix-header">
  <div class="phx-header phx-header-left">
    <a href="#" class=" phx-toggle text-primary "><i data-feather="menu" class="display-4"></i></a>
  </div>
  <div class="phx-header phx-header-main">
    <p></p>
  </div>
  <div class="phx-header phx-header-right">
    <div class="flex">
      <i data-feather="user"></i>
    </div>
  </div>
</header>