@import "./sizes.scss";

.text-ellipsis {
  text-overflow: ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.object-cover {
  object-fit: cover;
}
.object-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
