<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table class="body-wrap"
    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0; padding: 0;"
    bgcolor="#f6f6f6">
    <tbody>
      <tr
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td
          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
          valign="top"></td>
        <td class="container" width="600"
          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;"
          valign="top">
          <div class="content"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px; ">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope=""
              itemtype="http://schema.org/ConfirmAction"
              style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 5px; margin: 0; border: none;">
              <tbody>
                <tr
                  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-wrap"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 30px; padding-left: 40px ; padding-right: 40px; border-radius: 5px; box-shadow: 0 0 0.2rem 0.1rem rgba(49, 49, 49, .1); background-color: #fff;"
                    valign="top">
                    <meta itemprop="name" content="reset password"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <table width="100%" cellpadding="0" cellspacing="0"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                      <br>
                      <thead>
                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; ">
                          <td style="text-align: center">
                            <p
                              style=" margin-bottom: 1rem; margin-top: .5rem; font-size: 1.7rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; font-weight: 500 !important;">
                              <span style="color: #3d3d3d;">Phoe</span><span style="color: #4e2372;">nix</span>
                            </p>
                          </td>
                        </tr>
                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; ">
                          <td>
                            <h1 style="text-align: center; color: #1d092e;">Reset your password</h1>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <hr style="border: none; border-top: .7px solid rgba(138, 138, 138, 0.5); ">
                            <br>
                            <br>
                          </td>
                        </tr>
                      </thead>

                      <tbody>

                        <tr
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                          <td class="content-block" style="color:rgba(71, 71, 71, 0.89); line-height: 1.4rem; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box;
                            font-weight:700; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                            valign="top">
                            Need to reset you password? No problem! Just click the button below and you'll be on your
                            way. If you did not make this request, please ignore this email
                          </td>
                        </tr>

                        <tr>
                          <td><br></td>
                        </tr>
                        <tr
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                          <td class="content-block" itemprop="handler" itemscope=""
                            itemtype="http://schema.org/HttpActionHandler"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                            valign="top">
                            <a href="http://localhost:8888/reset-password?token=<%= token %>  " class="btn-primary"
                              itemprop="url"
                              style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 15px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 1px; text-transform: capitalize; background-color: #4e2372; margin: 0; border-color: #4e2372; border-style: solid; border-width: 8px 16px; width: 100%;">Reset
                              your password</a>
                          </td>
                        </tr>
                        <tr>
                          <td><br>
                            <br>
                          </td>
                        </tr>
                        <tr
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                          <td class="content-block"
                            style="color:rgba(36, 36, 36, 0.979);  ;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                            valign="top">
                            <p><strong>Phoenix Production</strong></p>
                            <p>Support Team</p>
                          </td>
                        </tr>

                        <tr
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                          <td class="content-block"
                            style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;"
                            valign="top">
                            &copy; 2020 phoenix
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>