<table class="body-wrap"
  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
  bgcolor="#f6f6f6">
  <tbody>
    <tr
      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
      <td
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
        valign="top"></td>
      <td class="container" width="600"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
        valign="top">
        <div class="content"
          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
          <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope=""
            itemtype="http://schema.org/ConfirmAction"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 5px; margin: 0; border: none;">
            <tbody>
              <tr
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td class="content-wrap"
                  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 30px;border-radius: 5px; box-shadow: 0 0 0.2rem 0.1rem rgba(49, 49, 49, .1); background-color: #fff;"
                  valign="top">
                  <meta itemprop="name" content="Confirm Email"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <table width="100%" cellpadding="0" cellspacing="0"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <br>
                    <thead>
                      <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; ">
                        <td style="text-align: center">
                          <p
                            style=" margin-bottom: 1rem; font-size: 1.7rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; font-weight: 500 !important;">
                            <span style="color: #3d3d3d;">Phoe</span><span style="color: #4e2372;">nix</span>
                          </p>
                        </td>
                      </tr>

                      <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; ">
                        <td>
                          <h1 style="text-align: center; color: #1d092e;">Verify Your Email Address</h1>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <hr style="border-top: 1px solid rgba(90, 90, 90, 0.5); ">
                          <br>
                          <br>
                        </td>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block"
                          style="color:rgba(3, 3, 3, 0.678) ; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                          valign="top">
                          <b> Thank you for singging up with</b>
                        </td>
                      </tr>
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block"
                          style="color:rgba(36, 36, 36, 0.979); line-height: 1.4rem; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                          valign="top">
                          We may need to send you critical information about our service and it is important that we
                          have an accurate email address.
                        </td>
                      </tr>

                      <tr>
                        <td><br></td>
                      </tr>
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block" itemprop="handler" itemscope=""
                          itemtype="http://schema.org/HttpActionHandler"
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                          valign="top">

                          <a href="http://localhost:8888/authorization?email=<%= email %> " class="btn-primary"
                            itemprop="url"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 15px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 2px; text-transform: capitalize; background-color: #4e2372; margin: 0; border-color: #4e2372; border-style: solid; border-width: 8px 16px; width: 100%;">Confirm
                            email address</a>
                        </td>
                      </tr>
                      <tr>
                        <td><br>
                          <br>
                        </td>
                      </tr>
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block"
                          style="color:rgba(36, 36, 36, 0.979);  ;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                          valign="top">
                          <p><strong>Phoenix Production</strong></p>
                          <p>Support Team</p>
                        </td>
                      </tr>

                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block"
                          style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;"
                          valign="top">
                          &copy; 2020 Dubu
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>